/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:·L³n¥¿¶ÂÅé;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	width: 900px;
	height: 1000px;
	background-color: white;
    margin: 0 auto;

}

.header{
	width: 100%;
	height: 80px;
	
}

.logo{
	width: 345px;
	background: url('images/logo.png') no-repeat;
	height: 80px;
	float: left;
}

.topbar{
	width: 555px;
	background-color: white;
	height: 30px;
	float: left;
	padding-bottom: 9px;
}

.event{
	color: black;
	display: block;
	margin-top: 11px;
	float: left;
    padding-left: 12px;
	padding-right: 12px;
}

.menu{
	width: 555px;
	background-color: white;
	height: 40px;
	float: left;
	
}

.option{
	display: block;	
	font-size: 150%;
	color: black;
	margin-top: 10px;
	padding-left: 70px;
	padding-right: 0px;
	float: left;
	
}

.menu-option{
	padding-left: 0px;
	z-index: 1;
}

ul.navigation{
	display: block;
	height: 50px;
}

ul.navigation li {
    position: relative;
    float: left;
    
}

ul.navigation li a{
    display: block;
    padding: 12px 20px;
    background: #888;
    color: #FFF;
}

ul.navigation > li > a{
    border-bottom: 1px solid #CCC;    
    border-left: 1px solid #CCC;
}
ul.navigation > li > a:hover{
    color: #666;
    background: #DDD
}


ul.navigation li ul{
    display: none;
    float: left;
    position: absolute;
    left: 0;    
    margin: 0;
}

ul.navigation li:hover > ul{
    display: block;
}

ul.navigation ul li {
    border-bottom: 1px solid #DDD;
}

ul.navigation ul li:last-child {
    border-bottom: none;
}


ul.navigation ul a {
    width: 120px;
    padding: 10px 12px;    
    color: #666;        
    background: #EEE;
}
ul.navigation ul a:hover {        
    background: #CCC;    
}

ul.navigation ul li:hover > ul{
    display: block;
    position: absolute;
    top: 0;    
    left: 100%;
}



.content{
	height: 50%;
	width: 100%;
	background: -webkit-linear-gradient(left, #FF8800, #FFFFFF);
	border-style: groove;
	border-width: 2px;
	margin-top: 5px;
	position: relative;
	z-index: 0;
}

.content-left{
	height: 100%;
	width: 345px;
	background-color: ;
	position: relative;
	float: left;
	
}

div.p{
	display: block;
	color: black;
	position: absolute;
	top: 160px;
	left: 30px;
	font-size: 250%;
	font-weight: bold;
}

.newsimages{
	float: left;
	width: 510px;
	height: 460px;
	background: url('images/news.jpg') no-repeat;
	margin-left: 25px;
	margin-top: 15px;
	z-index: 0;
}

.date{
	display: block;
	color: white;
	position: absolute;
	top: 100px;
	left: 30px;
	font-size: 150%;
}

.more{
	display: block;
	color: blue;
	position: absolute;
	top: 350px;
	left: 280px;
	font-size: 100%;
}

.morenews{
	display: block;
	color: blue;
	position: absolute;
	bottom: 10px;
	right: 50px;
	font-size: 100%;
}

.morepost{
	display: block;
	color: blue;
	position: absolute;
	top: 20px;
	left: 240px;
	font-size: 100%;
}

.footer{
	height: 400px;
	width: 898px;
	border-style: groove;
	border-width: 2px;
	margin-top: 5px;
	background: -webkit-linear-gradient(top, #FFFF33, #FFFFFF);
	position: relative;
}

.post{
	width: 292px;
	height: 340px;
	border-style: groove;
	border-width: 2px;
	float: left;
	margin-top: 2px; 
	position: relative;
	
}

.element1{
	width: 292px;
	height: 336px;
	position: absolute;
	top: 20px;
	left: 74px;
	background: url('images/element1.jpg') no-repeat;
}

.element2{
	width: 292px;
	height: 336px;
	position: absolute;
	top: 20px;
	left: 75px;
	background: url('images/element2.jpg') no-repeat;
}

.element3{
	width: 292px;
	height: 336px;
	position: absolute;
	top: 20px;
	left: 74px;
	background: url('images/element3.jpg') no-repeat;
}

.footer-name{
	height: 45px;
	width: 300px;
	color: black;
	font-size: 200%;
	padding-top: 5px;
	padding-left: 30px;
	font-weight: bold;
}

.element-content{
	width: 250px;
	height: 50px;
	position: absolute;
	font-size: 120%;
	left: 24px;
	bottom: 90px;
}

.element-more{
	color: blue;
	font-size: 80%;
	width: 70px;
	height: 30px;
	position: absolute;
	right: 30px;
	bottom: 50px;
}

a {text-decoration: none;}
a:hover {color:black;} 
a:link {color: black;}
a:active {color:black;} 
a:visited {color: black;}