/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	width: 900px;
	height: 1000px;
	background-color: white;
    margin: 0 auto;
    z-index: ;
}

.header{
	width: 100%;
	height: 80px;
	
}

.logo{
	width: 345px;
	background: url('images/logo.png') no-repeat;
	height: 80px;
	float: left;
}

.topbar{
	width: 555px;
	background-color: white;
	height: 30px;
	float: left;
	padding-bottom: 9px;
}

.event{
	color: black;
	margin-top: 11px;
	float: left;
    padding-left: 12px;
	padding-right: 12px;
}

.menu{
	width: 555px;
	background-color: white;
	height: 40px;
	float: left;
	
}

.option{
	display: block;	
	font-size: 150%;
	color: black;
	margin-top: 10px;
	padding-left: 70px;
	padding-right: 0px;
	float: left;
	
}

.menu-option{
	padding-left: 0px;
	z-index: 1;
}

ul.navigation{
	display: block;
	height: 50px;
}

ul.navigation li {
    position: relative;
    float: left;
    
}

ul.navigation li a{
    display: block;
    padding: 12px 20px;
    background: #888;
    color: #FFF;
}

ul.navigation > li > a{
    border-bottom: 1px solid #CCC;    
    border-left: 1px solid #CCC;
}
ul.navigation > li > a:hover{
    color: #666;
    background: #DDD
}


ul.navigation li ul{
    display: none;
    float: left;
    position: absolute;
    left: 0;    
    margin: 0;
}

ul.navigation li:hover > ul{
    display: block;
}

ul.navigation ul li {
    border-bottom: 1px solid #DDD;
}

ul.navigation ul li:last-child {
    border-bottom: none;
}


ul.navigation ul a {
    width: 120px;
    padding: 10px 12px;    
    color: #666;        
    background: #EEE;
}
ul.navigation ul a:hover {        
    background: #CCC;    
}

ul.navigation ul li:hover > ul{
    display: block;
    position: absolute;
    top: 0;    
    left: 100%;
}

.titlebar{
	width: 100%;
	height: 80px;
	color: black;
	margin-top: 5px;
	border-style: groove;
	border-width: 2px;
	position: relative;
	background: -webkit-linear-gradient(left, #66FF66, #FFFFFF);
}

.bartitle{
	font-weight: bold;
	font-size: 300%;
	padding-top: 4px;
	padding-left: 15px;
	position: absolute;
	top:10px;
	left:8px;

}

.barcontent{
	font-weight: ;
	font-size: 100%;
	position: absolute;
	top:33px;
	left:250px;
}

.content{
	height: 30%;
	width: 100%;
	background: ;
	border-style: groove;
	border-width: 2px;
	position: relative;

}

.contenttitle{
	font-weight: bold;
	font-size: 160%;
	position: absolute;
	top:30px;
	left: 26px;
}

.contenttext{
	font-weight: bold;
	font-size: 120%;
	position: absolute;
	top:30px;
	left: 76px;
	top:113px;
}

.video{
	width: 500px;
	height: 280px;
	background: green;
	position: absolute;
	top: 8px;
	right: 10px;
}

ul{

　　list-style-type: none;
　　margin: 0;　
}

div .p{
	font-size: 150%;
	font-weight: bold;
	color: black;
	display: block;
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 15px;
}

.more{
	width: 100px;
	height: 30px;
	position: absolute;
	color: blue;
	bottom: 38px;
	left: 292px;
}

.footer{
	width: 100%;
	height: 520px;
	background: -webkit-linear-gradient(top,  #FFBB00 , #FFFFFF);
	border-style: groove;
	border-width: 2px;
	position: relative;
}

.footerimagetop1{
	width: 280px;
	height: 180px;
	background: green;
	margin-top: 10px;
	margin-left: 15px;
	float: left;
	position: relative;
	background: url('images/top1.jpg');
}

.footerimagetop2{
	width: 280px;
	height: 180px;
	background: green;
	margin-top: 10px;
	margin-left: 15px;
	float: left;
	position: relative;
	background: url('images/top2.jpg');
}

.footerimagetop3{
	width: 280px;
	height: 180px;
	background: green;
	margin-top: 10px;
	margin-left: 15px;
	float: left;
	position: relative;
	background: url('images/top3.jpg');
}

.footerimagebot1{
	width: 280px;
	height: 180px;
	background: green;
	margin-top: 72px;
	margin-left: 15px;
	float: left;
	position: relative;
	background: url('images/bot1.jpg');
}

.footerimagebot2{
	width: 280px;
	height: 180px;
	background: green;
	margin-top: 72px;
	margin-left: 15px;
	float: left;
	position: relative;
	background: url('images/bot2.jpg');
}

.footerimagebot3{
	width: 280px;
	height: 180px;
	background: green;
	margin-top: 72px;
	margin-left: 15px;
	float: left;
	position: relative;
	background: url('images/bot3.jpg');
}

.footertext{
	color: black;
	position: absolute;
	bottom: -41px;
	left: 69px;
	font-weight: bold;
	font-size: 200%;
}

a {text-decoration: none;}
a:hover {color:black;} 
a:link {color: black;}
a:active {color:black;} 
a:visited {color: black;}