/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:微軟正黑體;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	width: 900px;
	height: 1000px;
	background-color: white;
    margin: 0 auto;
    z-index: ;
}

.header{
	width: 100%;
	height: 80px;
	
}

.logo{
	width: 345px;
	background: url('images/logo.png') no-repeat;
	height: 80px;
	float: left;
}

.topbar{
	width: 555px;
	background-color: white;
	height: 30px;
	float: left;
	padding-bottom: 9px;
}

.event{
	color: black;
	margin-top: 11px;
	float: left;
    padding-left: 12px;
	padding-right: 12px;
}

.menu{
	width: 555px;
	background-color: white;
	height: 40px;
	float: left;
	
}

.option{
	display: block;	
	font-size: 150%;
	color: black;
	margin-top: 10px;
	padding-left: 70px;
	padding-right: 0px;
	float: left;
	
}

.menu-option{
	padding-left: 0px;
	z-index: 1;
}

ul.navigation{
	display: block;
	height: 50px;
}

ul.navigation li {
    position: relative;
    float: left;
    
}

ul.navigation li a{
    display: block;
    padding: 12px 20px;
    background: #888;
    color: #FFF;
}

ul.navigation > li > a{
    border-bottom: 1px solid #CCC;    
    border-left: 1px solid #CCC;
}
ul.navigation > li > a:hover{
    color: #666;
    background: #DDD
}


ul.navigation li ul{
    display: none;
    float: left;
    position: absolute;
    left: 0;    
    margin: 0;
}

ul.navigation li:hover > ul{
    display: block;
}

ul.navigation ul li {
    border-bottom: 1px solid #DDD;
}

ul.navigation ul li:last-child {
    border-bottom: none;
}


ul.navigation ul a {
    width: 120px;
    padding: 10px 12px;    
    color: #666;        
    background: #EEE;
}
ul.navigation ul a:hover {        
    background: #CCC;    
}

ul.navigation ul li:hover > ul{
    display: block;
    position: absolute;
    top: 0;    
    left: 100%;
}

.titlebar{
	width: 100%;
	height: 80px;
	color: black;
	margin-top: 5px;
	border-style: groove;
	border-width: 2px;
	position: relative;
	background: -webkit-linear-gradient(left, #FFBB00, #FFFFFF);
}

.bartitle{
	font-weight: bold;
	font-size: 300%;
	padding-top: 4px;
	padding-left: 15px;
	position: absolute;
	top:10px;
	left:8px;

}

.barcontent{
	font-weight: ;
	font-size: 100%;
	position: absolute;
	top:33px;
	left:250px;
}

.content{
	height: 100%;
	width: 100%;
	background: white;
	border-style: groove;
	border-width: 2px;
	position: relative;
}

ul{

　　list-style-type: none;
　　margin: 0;　
}


.footer{

}

.button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background-color: black;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	margin-left: 35px;
	margin-top: 15px;
}

.button:active {
	position:relative;
	top:1px;
}

.button1 {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background-color: #768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	margin-left: 35px;
	margin-top: 15px;
}

.button1:active {
	position:relative;
	top:1px;
}

hr {
	border: 0; 
	height: 2px; 
	background-color: black;
	margin-top: 15px;
	margin-bottom: 15px;
}

.student-images1{
	width: 300px;
	height: 40px;
	background: url('images/student1.png') no-repeat;
	margin-top: 40px;
}

.student-images2{
	width: 300px;
	height: 40px;
	background: url('images/student2.png') no-repeat;
	margin-top: 40px;
}

div .p{
	font-size: 150%;
	font-weight: bold;
	color: black;
	display: block;
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 15px;
}

a {text-decoration: none;}
a:hover {color:black;} 
a:link {color: black;}
a:active {color:black;} 
a:visited {color: black;}